<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Suas informações</title>
<style>
    body {
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: Arial, sans-serif;
    }
    fieldset {
        background-color: #6d8ce8;
        padding: 20px;
        border-radius: 10px;
        width: 350px;
        text-align: center;
    }
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin: 10px 0;
    }
</style>
</head>
<body>
<fieldset>
    <h1><a href="{% url 'inicio' %}">Página inicial</a></h1>
    <h1>Informações do usuário</h1>
    {% for form in informacoes %}
        <h2>Nome Completo:<br>{{ form.nome }} {{ form.sobrenome }}</h2>
        <h2>CPF:<br>{{ form.cpf }}</h2>
        <h2>RG:<br>{{ form.rg }}</h2>
        <h2>E-mail:<br>{{ form.email }}</h2>
        <h2><a href="{% url 'atualizar' form.id %}?acao=redefinir">Redefinir senha</a></h2>
        <hr>
        <h2><a href="{% url 'atualizar' form.id %}">Atualizar cadastro</a></h2>
        <h2><a href="{% url 'deletar' form.id %}">Deletar cadastro</a></h2>
    {% endfor %}
    
</fieldset>
</body>
</html>